@import url("./react-tabs.css");
@import url("./reactPagination.css");
@import url("./popup.css");
@import url('./pagination.css');

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.wallet-button {
  background-color: black !important;
}

@media (max-width:899px) {
  .wallet-button {
    width: 100%;
  }
}
.MuiSlider-track {
color:#f49c63 !important
}
.MuiSlider-rail{
  color:#f49c63 !important
}
.MuiSlider-track{
  color:#f49c63 !important
}
.MuiSlider-root{
  color:#f49c63 !important
}
  
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: ;
  }
} */